<form action="update" method="post">
    {% csrf_token %}
    <table border="1">
        <thead>
            <th>FULL NAME</th>
            <th>PHONE NUMBER</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>DESTINATION</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </thead>
        <tbody>
           {% for ls in data %}
            <tr>
                <td>
                    <input type="text" name="idno" value="{{ls.id}}" hidden>
                    <input type="text" name="fn" value="{{ls.fn}}">
                </td>
                <td><input type="number" name="pn" value="{{ls.pn}}"></td>
                <td><input type="email" name="em" value="{{ls.em}}"></td>
                <td><input type="password" name="ps" value="{{ls.ps}}"></td>
                <td><input type="text" name="to" value="{{ls.to}}"></td>
                <td><button type="submit">update</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>